################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AutoTrade/bin/Debug
/AutoTrade/obj/Debug
/DataDao/obj/Debug
/OkCat/packages/log4net.2.0.8
/DataDao/bin/Debug
/OkCat/packages
/OkCat/.vs/OkCat/v15/Server/sqlite3
